<div id="{{settingId}}" class="app-bottom-menu position-absolute bg-white shadow-sm rounded">
    <div class="mt-4 mb-2 text-center font-weight-bold text-secondary menu-title">
        {{title}}
    </div>
    <div class="d-flex mb-2 {{listingClasses}}">
        {{#items}}
        <div class="p-3 setting-item" data-type="{{settingStr}}">
            <span class="mx-2">
                {{&itemIcon}}
            </span>
            <span>
                {{itemName}}
            </span>
        </div>
        {{/items}}
    </div>
</div>
