<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Google</title>

    </head>

    <body>
        <div id="data" style="display:none">{{data}}</div>

        <script type="text/javascript">
            var parentWindow = window.opener;
            var data = JSON.parse( document.querySelector( '#data' ).innerText );

            if ( parentWindow ) {
                try {
                    parentWindow.app.finishGoogleLogin( data );
                }
                catch ( e ) {
                    // using postMessage, since the requestDomain was wrong at "try" above
                    // let requestDomain = document.querySelector( '#request-domain' ).innerText;
                    // requestDomain is wrong, can't used as the 2nd parameter
                    // need to use "*"
                    // recipient then check whether to receive the data
                    parentWindow.postMessage( data, '*' );
                }
            }

            window.close();    
        </script>
    </body>

</html>
