<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Google</title>

    </head>

    <body>
        <div id="data" style="display:none">{{data}}</div>
        <div id="request-domain" style="display:none">{{requestDomain}}</div>

        <script type="text/javascript">
            var parentWindow = window.opener;
            var data = JSON.parse( document.querySelector( '#data' ).innerText );

            if ( parentWindow ) {
                try {
                    parentWindow.app.finishGoogleLogin( data );
                }
                catch ( e ) {
                    // using 
                    let requestDomain = document.querySelector( '#request-domain' ).innerText;
                    parentWindow.postMessage( data, requestDomain );
                }
            }

            window.close();    
        </script>
    </body>

</html>
