<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="files/images/favicon.png">

        <title>{{siteTitle}}</title>

        {{#stylesheets}}
        <link href="{{.}}" rel="stylesheet">
        {{/stylesheets}}

        {{#headScripts}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/headScripts}}

    </head>

    <body class="bg-light p-0 {{bodyClasses}} ">

        <div id="app-wrapper" class="app-wrapper mx-auto position-relative">
            {{&body}}
        </div>

        <div id="message-bar" class="message-bar p-3">
            <div class="message-content py-2 px-3 bg-dark text-white rounded shadow-sm">12421212</div>
        </div>

        {{#footerScripts}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/footerScripts}}
    </body>

</html>
