<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="files/images/favicon.png">

        <title>{{siteTitle}}</title>

        {{#stylesheets}}
        <link href="{{.}}" rel="stylesheet">
        {{/stylesheets}}

        {{#headScripts}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/headScripts}}

    </head>

    <body class="bg-light p-0 {{bodyClasses}} ">
        {{&body}}

        {{#footerScripts}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/footerScripts}}
    </body>

</html>
