<form id="login-form" class="text-center form-signin">
    <img class="mb-4" src="{{logoImage}}" alt="" width="120" height="120">
    <h1 class="h3 mb-3 font-weight-normal">{{signInTitle}}</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="email" id="input-username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="input-password" class="form-control" placeholder="Password" required>
    <div class="checkbox mt-3 mb-3">
        <div class="remember clearfix">
            <label class="float-left m-0">
                Remember me:
            </label>
            <label class="switch small float-right mt-1">
                <input type="checkbox" value="remember-me">
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
    <button class="btn btn-lg btn-primary btn-block bg-light text-dark" type="button"><span class=""><img class="mb-1 mr-2" src="/files/images/google.svg" alt="Google Login" width="24" height="24"></span><span>Google</span></button>
    <p class="mt-5 mb-3 text-muted">&copy; {{copyright}}</p>
</form>
