<div id="note-edit-activity" class="note-edit-activity p-3 bg-white fixed-top activity">
    <div class="d-flex mb-3 activity-guide">
        <button type="button" class="icon-inside py-2 pr-2 btn btn-sm go-back-btn bg-transparent">{{&backBtn}}</button>
        <div class="p-2 activity-title font-weight-bold text-secondary">Add New</div>
        <button type="button" class="icon-inside discard-btn p-2 btn btn-sm back-btn bg-transparent ml-auto">{{&deleteBtn}}</button>
    </div>
    <form id="note-edit-form" class="note-edit-form" action="/note" method="POST">
        <div class="input-group input-group-lg mb-3 note-title-area">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input id="note-edit-title" type="text" class="note-edit-title form-control" value="" placeholder="A new note">
        </div>

        <div class="form-group mb-3">
            <textarea id="note-edit-content" class="note-edit-content form-control" rows="6"></textarea>
        </div>

        <div class="mb-3 text-right note-submit-area">
            <button id="note-edit-submit" type="button" class="btn btn-success btn-lg" disabled>Done</button>
        </div>
    </form>

</div>
