
html {
    font-size: 18px;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


.app-wrapper {
    max-width: 570px;
}


.app-header {
    background: linear-gradient(30deg, #e5ecf1,#f1f7f5);
}

.note-expand:hover {
    cursor: pointer;
}